body {
  margin: 2rem 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem; /* Adjusted padding for responsiveness */
}

.heading-container button {
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 70px;
  box-shadow: 3px 3px black;
}

.heading-container button:hover {
  box-shadow: none;
}

.editor {
  border: 3px solid lightskyblue;
  border-radius: 5px;
  padding: 10px;
  height: 400px;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
  body {
    margin: 2rem 1rem; /* Adjusted margin for smaller screens */
  }

  .heading-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Align items to the start on smaller screens */
  }

  .heading-container button {
    margin-top: 1rem; /* Add space between heading and button on smaller screens */
    margin-bottom: 2rem;
  }

  .editor {
    height: 300px; /* Decrease editor height for smaller screens */
  }
}
